PIHOLE_URL=http://192.168.1.100:8000
PIHOLE_PASSWORD=your_pihole_password_here
DISCORD_WEBHOOK_URL=your_discord_webhook_url_here
CLIENT_IP=192.168.1.0/24
APP_PASSWORD=admin
FLASK_SECRET_KEY=change_this_to_a_random_secret_string
